* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #444444;
    padding: 16px 0;
    color: #fff;
    display:flex ;
    border-bottom: 16px solid #b52c00;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    
}
header h1{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #fcf7d1;
    padding: 24px 0;
    text-align: center;
    display: none;
    margin-bottom: 20px;

    
}

form h2 {
    margin-bottom: 16px;
}
form  h3{
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: 5px solid #4eb26f;
    border-radius: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

    font-family: "Righteous", sans-serif;
    font-weight: 400;
    
}
button:hover{
    background-color:#4eb26f ;
    border:5px solid #009432  ;

}

#botao-cancelar {
    background-color: red;    
    border: 5px solid rgb(255, 83, 83);
}
#botao-cancelar:hover{
    background-color:  rgb(255, 83, 83);    
    border: 5px solid red;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 2s;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}